body {
    display: flex;
    flex-wrap: wrap;
    background-color: #141414;
    font-family: proxima-nova, sans-serif;
    color: whitesmoke;
    min-height: 100vh; /* full viewport height */
    margin: 0; /* remove default margin */
    flex-direction: column;
    
}

::selection {
    background: #1B690B;
    color: #ffffff;
}

main {
  flex: 1; /* grows to fill remaining space, pushes footer down */
  padding: 20px;
}

html, body {
  height: 100%; /* make body fill viewport */
  margin: 0;
}

.title {
    font-size: 3em;
    color: #1B690B;
    position: absolute;               
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 85px;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;

}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Logo {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

img[alt="under construction"] {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

footer {
    display: flex;
    gap: 10px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;

}

footer p{
    margin: 5px;
    text-decoration: none;
}

#link {
    text-align: center;
    justify-content: center;
}

#wallets {
    text-align: center;
    justify-content: center;
}

.Collumn {
    text-align: center; /* centers inline content */
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal centering */
    margin: 10px;
}

.footer-title {
    font-weight: bold;
    color: #1B690B;
}

a {
    color: #1E90FF;
    text-decoration: none;
    width: fit-content;
    display: block;
}

.card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200.5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    align-items: flex-start;
}

a.card-a {
    text-decoration: none;
    margin: 50px;
}